<%- include('header') -%>
 <h1 id="heading"><%= day%></h1>
 <div class="wrapper">
   <div class="box">
  <ul class="grid">
    <% newTodo.forEach(item =>{%><li><div class="item"><input type="checkbox" > <p><%=item.name%></p></div></li><%}) %>       
      <!-- <% for(var i = 0; i < newTodo.length; i++){%>
        <li>   <p><%= newTodo[i].name%></p></div></li>
     <% }%>
     -->
   </ul>
   </div>
   
   <div class="form-group">
     <form action="/" method="post">
       <input type="text" name="todo" placeholder="New Item" >
       <button type="submit"><i class="fas fa-plus"></i></button>
     </form>
   </div>

  </div>
  
<%- include('footer')-%>